*{
    padding:0;
    margin:0;
}

body{
    background-color: #FCF7F8;
}

#big{
    overflow: scroll;
    height: 50vh;
    width: 50vh;
    border:solid;
    position: absolute;
    background-color: #FCF7F8;
    z-index: -1;

}

button{
    border:solid;
    border-radius: 0.4rem;
    padding:0.5rem;
    border-color: #E2C044;
    background-color: #FCF7F8;



}

#co {
    border:solid;
    border-radius: 0.4rem;
    
    width:20rem;
    height:10rem;
    position: relative;
}

#add{
    position: fixed;
    left:90%;
    top:90%;
    padding:0.75rem;
    padding-left: 0.9rem;
    padding-right: 0.9rem;



}
.head_container {
    border:solid;
    position:absolute;
}

.size{
    width:50%;
    height:50%;
    border:solid;
    position:absolute;

}

.test {
    margin:0;
    width:30rem;
    background-color: #E2C044;
}

/* FCF7F8  E2C044  FF785A  000000*/